.cudo-grid {

}

.cudo-grid__controls {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.cudo-grid__select-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.cudo-grid__grid {
    display: grid;
    gap: 1rem;
}

@media(min-width: 600px) {
    .cudo-grid__grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

.cudo-grid__name {
    font-size: 1.5rem;
    font-weight: bold;
}

.cudo-grid__game-card {
    border: 1px solid #333;
    border-radius: 1rem;
    padding: 1rem;
}

.cudo-grid__list {
    list-style: none inside;
    padding: 0;
}

.cudo-grid__gallery-details {
    margin-top: 1rem;
}

.cudo-grid__gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cudo-grid__image {
    height: auto;
    max-width: 100%;
}